body {
    background-color: #FFB084;
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}

.main{
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.4fr 2.2fr;
}

/*left block*/

.block{
    margin: 27px 40px;
}

.section{
    background: #FFFFFF;
    border-radius: 20px;
    padding: 15px 25px;
    box-sizing: border-box;
}
.shadow_black{
    box-shadow: 7px 7px 0px #000000;
}

.align{
    text-align: center;
}
.name{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    text-align: center;
}

.photo{
    margin: 17px;
}

.bold{
    font-weight: 600;
}
.about_info{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
}

.about_info div{
    margin-bottom: 17px;
}

.quote_text{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-top: 18px;
}

/*right block*/

.title{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.rows{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 22px;
    text-align: left;
}

.goals_color{
    color: #29A71E;
}

.dream_color{
    color: #3675B0;
}

.frustrations_color{
    color: #E13535;
}

.block_column{
    margin-top: 20px;
}

.shadow_green{
    box-shadow: 7px 7px 0px #29A71E;
}

.shadow_blue{
    box-shadow: 7px 7px 0px #3675B0;
}
.shadow_red{
    box-shadow: 7px 7px 0px #E13535;
}

.gap{
    margin-top: 18px;
}

